.row
{
    margin-right: 0px;
    margin-left: 0px;
}
header
{
    background-image: url("img/fullscreen1.jpg");
    background-repeat: no-repeat;
    color:white;
    height:100%;    
    width: 100%;   
    opacity: 1;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;     
    
}
.ul-main
{
   
     border: 1px solid rgb(3,75,99);
     padding: 20px;
     padding-right:100px;
      padding-left:100px;
      margin-bottom: 50px;
}
.ul-main li
{
    display: inline;
    list-style: none;
    padding: 22px;
    
   border: 1px solid rgb(3,75,99);
   border-bottom: none;
   border-top: none;
   margin-left: -5px;
   
      
}
#shareList
{
    padding-right: 0;
}
#shareList li
{
    border: none;
}

.navbar-inverse {
    background:none;
    border:none;
}
#nav-header-main
{
   /* margin:50px;*/
}
@media (max-width: 767px)
{
.container {padding-right: 55px;padding-left: 55px;}
}

@media (min-width: 768px)
{
.container {width: inherit !important;}
}
@media (max-width: 792px) and (min-width: 768px)
{
.container {font-size:12px;}
}


.ul-body, .ul-body-fix
{
    float:left ;
}
.ul-body li
{
     border-left: 1px solid rgb(3,75,99);
     
}
.ul-body-fix li
{
     border-left: 1px solid rgb(243,243,243);     
}
.ul-body li:last-child ,.ul-body-fix li:last-child
{
     border-left: none;
}
.ul-body li a
{
    color: white;
}
.navbar-inverse .navbar-nav>li>a 
{
    color: inherit;
    
}
.ul-body-fix li a
{
    color: black ;
}
.currentPage a
{
    color: rgb(255,202,67) !important;
}
.ul-body li a:hover
{
    color: rgb(255,202,67) !important;
    text-decoration: none;    
}
.ul-body-fix li a:hover
{
    color: rgb(255,202,67) !important;
    text-decoration: none;    
}

.ul-body li a:active
{
    color: white;
    text-decoration: none;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background:none;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background:none;
}
#fixed-nav
{
    background-color: white;
    padding :10px;
    border-bottom: 1px solid rgb(243,243,243);
    position: fixed;
    width: 100%;
    z-index: 10000;
    top: 0px;
    color: black;
    
}
#background-body-first
{
    background-image: url("img/1400x200demo21.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    min-height: 200px;
    height: 100%;
    overflow: visible;
    padding: 50px;
}
#background-body-first button , #body-fourth button
{
        background-color: black;
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: white;
    float: left;
    margin: 15px 0px 0px 50px;
    margin-right: 0;
}
       

#background-body-first span
{
    color: white;
    float: right;
    margin-top: 50px;
    margin: 0px 50px 0px 0px;
    margin-left: 0px;
    font-size: 18px;
    
    
}
article.col-md-4{
    
}
.articles
{
    width: 90%;
    margin: auto;
    margin-top: -40px;
}

.articles article div
{
    padding: 20px;
}
.articles article img
{
    width: 100%;
}

#body-second
{
    background-color: rgb(38,38,38);
    color: white;
    padding:50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#body-second
{
    
}
#body-third 
{
    margin-top:20px ;
    margin-bottom: 75px;
}
#body-third div table tr td
{
    padding :15px;
    
}
#body-third div table
{
    margin-bottom: 40px;
    margin-top: 10px;
}
#body-third div table tr 
{
    border: 1px solid rgb(236,236,236);
    border-right: none;   
}

#body-third div table tr:last-child
{
    border-bottom: none;   
}

#body-third div table tr:first-child
{
    border-top: none;   
}
@media (max-width: 992px)
{
    #body-third div table tr:last-child{border: 1px solid rgb(236,236,236);}
    #body-third div table tr:first-child{border: 1px solid rgb(236,236,236);}
}
.currentTr
{
    border: 1px solid rgb(236,236,236) !important;
    border-right: 10px solid black !important;
}

.body-third-pa ul {
     list-style-type: square;
     
    
}
.body-third-pa
{
    margin-bottom: 40px;
}

#body-fourth
{
    background-image: url("img/fourth-back.jpg");
     margin-top:20px ;
    margin-bottom: 20px;
    height: 317px;
    /*background-position: 50% -150px;*/
    color: white;
}

#body-fourth
{
    text-align: center;
   
}
#body-fourth button
{
    background-color: black;
    
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: white; 
    float :none;
    margin: 50px;
       
}
#body-fourth button:hover
{
    background-color: rgb(255,195,41);
    color: white;  
}
#body-fifth
{
    text-align: center;
    
}

#div-first
{
   margin-bottom: 50px;
}
#div-first h4{
    width: 272px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
     border-bottom: 1px solid rgb(229,229,229);
     padding-bottom: 20px;
}
#div-second{
    width: 835px;
    margin: auto;
    padding: 25px 10px;
    border-bottom: 1px solid rgb(229,229,229);
    border-top: 1px solid rgb(229,229,229);
}
#div-second img
{
    width: 18%;
}
@media (max-width:890px)and (min-width:730px)
{
    #div-second{width: 670px;}
}

@media (max-width:730px)and (min-width:530px)
{
    #div-second{width: 90%;}
}
@media (max-width:530px)and (min-width:420px)
{
    #div-second{width: 400px;}
    #div-second img{width: 38%;}
}
@media (max-width:420px)
{
    #div-second{width: 90%;}
    #div-second img{width: 50%;}
}



#body-fifth p
{
    font-size: large;
    color: rgb(209,217,229);
    padding:20px;
    
}
#body-fifth
{
    margin-bottom: 70px;
}
#body-sixth
{
    background-color: rgb(36,36,36);
    color:#D2CCCC;
    overflow: hidden;
     line-height: 20px;
     
   
}
#body-sixth article 
{
    padding-bottom: 50px;
}
#body-sixth article img
{
    padding-top: 12px;
    padding-bottom: 42px;
}
#body-sixth article button
{
    background-color: rgb(41,41,41);
    border: none;
    padding: 12px;
    margin-top: 4px;
    border-radius: 5px 5px 5px 5px;
}
#body-sixth article button:hover
{
    background-color: rgb(255,195,41);
    color: white;
}

#body-sixth article h3
{
    font-size: 15px;
    font-weight: bold;
    line-height: 60px;
    
}

#body-sixth article ul
{
   list-style: none;
   padding-right: 5px;
   float:right;
   padding-left: 50px;
   cursor: pointer;
    line-height: 30px;
}
.currentListItem
{
     color: rgb(255,195,41) !important;
}
#body-sixth article ul li a
{
    text-decoration: none;
    color: #D2CCCC;
    cursor: pointer;
}

#body-sixth article ul li a:hover
{
    text-decoration: none;
    color: rgb(255,195,41);
    
}
footer{
    padding:30px;
    text-align: center;
    background-color: black;
    color: #D2CCCC;
}